.holder {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 97%;
  height: calc(100% - 40px);
  padding: 20px 20px 10px 20px;
  

  .nextWeek {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
    padding-top: 20px;
    gap: 10px;

    .days-container {
      width: 65%;
      display: flex;
      align-items: center;
      height: 100%;
      gap: 8px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 1px;
        height: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.456);
        border-radius: 1px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      .day-box {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 20px;
        max-height: 190px;
        transition: grid-column 0.7s ease-in;
        /* Separate transitions */

        &.active {
          height: 185px;
          grid-column: span 1.5;
          background-color: rgb(173, 216, 230);
        }
      }
    }

    .rain-chart {
      width: 35%;
      height: calc(100% - 20px);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

    }
  }

  .more-infos {
    width: 100% ;
    height: 59%;
    display: flex;
    gap: 10px;

    .composedChartBox {
      width: calc(65% );
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

    }

    .other-large-cities {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 35%;
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.456);
        border-radius: 1px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }

}
@media screen and (max-width: 580px) {
  .holder {
    padding: 10px;
    width: 95%;

    .nextWeek {
      flex-direction: column;
      width: 100%;

      .days-container {
        min-width: 100%;
      }

      .rain-chart {
        min-width: 96%;

      }
    }

    .more-infos {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .composedChartBox {
        min-width: 96%;
        min-height: 250px;
      }

      .other-large-cities{
        min-width: 100%;
        max-height: 300px;
      }
    }
  }
}